@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <p>
                <a href="@Url.Action("Index", "Employee")" class="btn btn-success btn-md">Go to Employees</a>
                <a href="@Url.Action("Index", "Department")" class="btn btn-success btn-md">Go to Departmentes</a>
            </p>
        </section>
       
    </div>
</main>